<%= form_for(@officer, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
      <% @officer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-sm">
    <%= f.label :id, 'ID', class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <p class="form-control-static"><%= @officer.id %></p>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :name, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.text_field :name, class: 'form-control', autofocus: true, required: true, size: 40, maxlength: 40 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :email, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.email_field :email, class: 'form-control', size: 40, maxlength: 40 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :mygroup, 'My Group', class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :mygroup, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-md-offset-1 checkbox">
      <label>
        <%= f.check_box :isgroup, {}, 'Y', 'N' %> Group
      </label>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-md-offset-1 col-md-11">
      <%= f.submit class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Cancel', officers_path, class: 'btn btn-sm btn-default' %>
    </div>
  </div>
<% end %>
