<h1>Listing Officers</h1>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'New Officer', new_officer_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-10 text-right">
    <%= paginate @officers %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">Email</th>
      <th class="col-md-3">Group</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= link_to officer.id, officer %></td>
        <td><%= officer.name %></td>
        <td><%= mail_to officer.email %></td>
        <td><%= officer.group_name %></td>
        <td class="text-right text-nowrap">
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-default btn-sm'), edit_officer_path(officer) %>
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-trash') + ' Delete', class: 'btn btn-default btn-sm'), officer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
