<h1>Listing Meetings</h1>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'New Meeting', new_meeting_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-10 text-right">
    <%= paginate @meetings %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th>Date</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.id, meeting %></td>
        <td><%= l meeting.date %></td>
        <td><%= meeting.description %></td>
        <td class="text-right text-nowrap">
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-default btn-sm'), edit_meeting_path(meeting) %>
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-trash') + ' Delete', class: 'btn btn-default btn-sm'), meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
