<h1>Meeting</h1>

<div class="btn-toolbar">
  <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-default'), edit_meeting_path(@meeting) %>
</div>

<div class="row">
  <p id="notice" class="bg-info"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-1"><strong>ID</strong></div>
  <div class="col-md-11"><%= @meeting.id %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Date</strong></div>
  <div class="col-md-11"><%= l @meeting.date %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Description</strong></div>
  <div class="col-md-11"><%= @meeting.description %></div>
</div>

<h2>Correspondence <span class="badge"><%= @meeting.correspondences.count %></span></h2>

<table class="table table-hover">
  <thead>
    <th class="col-md-1">ID</th>
    <th>File</th>
    <th>Folio</th>
    <th>Folio Date</th>
    <th>Summary</th>
    <th>Details</th>
  </thead>
  <tbody>
    <% @meeting.correspondences.order('folio_date DESC, id DESC').each do |correspondence| %>
      <tr>
        <td><%= link_to correspondence.id, correspondence_path %></td>
        <td><%= correspondence.file_id %></td>
        <td><%= correspondence.folio_id %></td>
        <td><%= l correspondence.folio_date %></td>
        <td><%= correspondence.summary %></td>
        <td><%= correspondence.details %></td>
      </tr>
    <% end %>
  </tbody>
</table>
