<h1>Listing Types</h1>

<div class="row">
  <div class="col-md-2">
    <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-plus') + ' New Type', class: 'btn btn-default'), new_type_path %>
  </div>
  <div class="col-md-10 text-right">
    <%= paginate @types %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th class="col-md-9">Description</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= link_to type.id, type %></td>
        <td><%= type.description %></td>
        <td class="text-right text-nowrap">
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-sm btn-default'), edit_type_path(type) %>
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-trash') + ' Delete', class: 'btn btn-sm btn-default'), type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
