<%= form_for(@correspondent, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @correspondent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correspondent.errors.count, "error") %> prohibited this correspondent from being saved:</h2>

      <ul>
      <% @correspondent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-sm">
    <%= f.label :name, class: 'col-md-1 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :name, class: 'form-control', autofocus: true, required: true, size: 60, maxlength: 60 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :street, class: 'col-md-1 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :street, class: 'form-control', size: 60, maxlength: 60 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :town, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.text_field :town, class: 'form-control', size: 40, maxlength: 40 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :state, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.select :state, Correspondent::STATES, { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :postcode, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :postcode, class: 'form-control', min: 0 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: 'col-md-1 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :description, class: 'form-control', size: 60, maxlength: 60 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-md-offset-1 col-md-11">
      <%= f.submit class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Cancel', correspondents_path, class: 'btn btn-sm btn-default' %>
    </div>
  </div>
<% end %>
