<h1>Listing correspondents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Town</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @correspondents.each do |correspondent| %>
      <tr>
        <td><%= correspondent.name %></td>
        <td><%= correspondent.street %></td>
        <td><%= correspondent.town %></td>
        <td><%= correspondent.state %></td>
        <td><%= correspondent.postcode %></td>
        <td><%= correspondent.description %></td>
        <td><%= link_to 'Show', correspondent %></td>
        <td><%= link_to 'Edit', edit_correspondent_path(correspondent) %></td>
        <td><%= link_to 'Destroy', correspondent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Correspondent', new_correspondent_path %>
