<h1>Correspondent</h1>

<div class="btn-toolbar">
  <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-sm btn-default'), edit_correspondent_path(@correspondent) %>
  <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-plus') + ' New Correspondence', class: 'btn btn-sm btn-default'),  new_correspondence_path(correspondent_id: @correspondent.id) %>
</div>

<div class="row">
  <p id="notice" class="bg-info"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-1"><strong>ID</strong></div>
  <div class="col-md-11"><%= @correspondent.id %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Name</strong></div>
  <div class="col-md-11"><%= @correspondent.name %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Address</strong></div>
  <div class="col-md-11">
    <address><%= @correspondent.street %><br>
      <%= @correspondent.town %> <%= @correspondent.state %> <%= @correspondent.postcode %></address>
  </div>
</div>

<% if @correspondent.description.present? %>
  <div class="row">
    <div class="col-md-1"><strong>Description</strong></div>
    <div class="col-md-11"><%= @correspondent.description %></div>
  </div>
<% end %>

<h2>Correspondence <span class="badge"><%= @correspondent.correspondences.size %></span></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th>File</th>
      <th>Folio</th>
      <th>Folio Date</th>
      <th>Summary</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @correspondent.correspondences.each do |correspondence| %>
      <tr>
        <td><%= link_to correspondence.id, correspondence_path %></td>
        <td><%= correspondence.file_id %></td>
        <td><%= correspondence.folio_id %></td>
        <td><%= l correspondence.folio_date %></td>
        <td><%= correspondence.summary %></td>
        <td><%= correspondence.details %></td>
      </tr>
    <% end %>
  </tbody>
</table>
