<%= form_for(@correspondence, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @correspondence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correspondence.errors.count, "error") %> prohibited this correspondence from being saved:</h2>

      <ul>
      <% @correspondence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-sm">
    <%= f.label :file_id, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :file_id, class: 'form-control', autofocus: true, min: 0, required: true %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :folio_id, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :folio_id, class: 'form-control', min: 0 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :folio_date, 'Folio Date', class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.date_select :folio_date, order: [:day, :month, :year] %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :review_date, 'Review Date', class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.date_select :review_date, order: [:day, :month, :year] %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :meeting_id, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :meeting_id, class: 'form-control' %>
    </div>
    <div class="col-md-10">
      <p class="form-control-static">
        <% if @correspondence.meeting %>
          <%= l @correspondence.meeting.date %>
          <%= @correspondence.meeting_description %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :reference, class: 'col-md-1 control-label' %>
    <div class="col-md-2">
      <%= f.text_field :reference, class: 'form-control', size: 20, maxlength: 20 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :officer_id, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :officer_id, class: 'form-control' %>
      <!-- TODO: Search button -->
    </div>
    <div class="col-md-10">
      <p class="form-control-static"><%= @correspondence.officer_name %></p>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :correspondent_id, class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :correspondent_id, class: 'form-control' %>
      <!-- TODO: Search button -->
    </div>
    <div class="col-md-10">
      <p class="form-control-static"><%= @correspondence.correspondent_name %></p>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :type_id, class: 'col-md-1 control-label' %>
    <div class="col-md-2">
      <%= f.collection_select :type_id, Type.order('description ASC').all, :id, :description, { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :summary, class: 'col-md-1 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :summary, class: 'form-control', size: 50, maxlength: 50 %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :details, class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :details, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :linkto, 'Link To', class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :linkto, class: 'form-control' %>
    </div>
    <div class="col-md-1 text-right">
      <%= f.label :linkfrom, 'Link From', class: 'control-label' %>
    </div>
    <div class="col-md-1">
      <%= f.number_field :linkfrom, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :note_count, 'Note Count', class: 'col-md-1 control-label' %>
    <div class="col-md-1">
      <%= f.number_field :note_count, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-md-offset-1 col-md-11">
      <%= f.submit class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Cancel', correspondences_path, class: 'btn btn-sm btn-default' %>
    </div>
  </div>
<% end %>
