<h1>Listing Correspondences</h1>

<div class="row">
  <div class="col-md-2">
    <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-plus') + ' New Correspondence', class: 'btn btn-default'), new_correspondence_path %>
  </div>
  <div class="col-md-10 text-right">
    <%= paginate @correspondences %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th>File</th>
      <th>Folio</th>
      <th>Officer</th>
      <th>Correspondent</th>
      <th>Type</th>
      <th>Summary</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @correspondences.each do |correspondence| %>
      <tr>
        <td><%= link_to correspondence.id, correspondence %></td>
        <td><%= correspondence.file_id %></td>
        <td><%= correspondence.folio_id %></td>
        <td><%= correspondence.officer_name %></td>
        <td><%= correspondence.correspondent_name %></td>
        <td><%= correspondence.type_description %></td>
        <td><%= truncate(correspondence.summary) %></td>
        <td><%= truncate(correspondence.details) %></td>
        <td class="text-right text-nowrap">
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-default btn-sm'), edit_correspondence_path(correspondence) %>
          <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-trash') + ' Delete', class: 'btn btn-default btn-sm'), correspondence, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
