<h1>Correspondence</h1>

<div class="btn-toolbar">
  <%= link_to 'Edit', edit_correspondence_path(@correspondence), class: 'btn btn-default' %>
</div>

<div class="row">
  <p id="notice" class="bg-info"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-1"><strong>ID</strong></div>
  <div class="col-md-11"><%= @correspondence.id %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>File</strong></div>
  <div class="col-md-11"><%= @correspondence.file_id %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Folio</strong></div>
  <div class="col-md-11"><%= @correspondence.folio_id %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Folio date</strong></div>
  <div class="col-md-11"><%= l @correspondence.folio_date if @correspondence.folio_date %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Review date</strong></div>
  <div class="col-md-11"><%= l @correspondence.review_date if @correspondence.review_date %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Meeting</strong></div>
  <div class="col-md-1"><%= l @correspondence.meeting.date %></div>
  <div class="col-md-10"><%= @correspondence.meeting_description %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Reference</strong></div>
  <div class="col-md-11"><%= @correspondence.reference %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Officer</strong></div>
  <div class="col-md-11"><%= link_to @correspondence.officer_name, officer_path %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Correspondent</strong></div>
  <div class="col-md-11"><%= link_to @correspondence.correspondent_name, correspondent_path %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Type</strong></div>
  <div class="col-md-11"><%= @correspondence.type_description %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Summary</strong></div>
  <div class="col-md-11"><%= @correspondence.summary %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Details</strong></div>
  <div class="col-md-11"><%= @correspondence.details %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Linkto</strong></div>
  <div class="col-md-11"><%= @correspondence.linkto %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Linkfrom</strong></div>
  <div class="col-md-11"><%= @correspondence.linkfrom %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Note count</strong></div>
  <div class="col-md-11"><%= @correspondence.note_count %></div>
</div>
